@{
  Layout = "_Layout";
}

<h1>Welcome To The Bakery</h1>
<p>@Html.ActionLink("View Flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("View Treats", "Index", "Treats")</p>
<p>@Html.ActionLink("Create an account", "Register", "Account")</p>
<p>@Html.ActionLink("View account", "Index", "Account")</p>
<p>@Html.ActionLink("Log in", "Login", "Account")</p>
<p>@Html.ActionLink("Log Off", "LogOff", "Account")</p>