@{
  Layout = "_Layout";
}

<hr>

@if (User.Identity.IsAuthenticated)
{
  <p>Hey @User.Identity.Name!</p>
}

<h1>Welcome To The Bakery</h1>
<p>@Html.ActionLink("View Flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("View Treats", "Index", "Treats")</p>
<p>@Html.ActionLink("Create an account", "Register", "Account")</p>
<p>@Html.ActionLink("View account", "Index", "Account")</p>

@if (User.Identity.IsAuthenticated)
{
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-danger btn-xs" value="Log out" />
  } 
}
else
{
<p>@Html.ActionLink("Log in", "Login", "Account")</p>
}